html {
  min-height: 100%;
  position: relative;
}

body {
    margin-bottom: 60px;
    padding-top: 70px;
	text-align: center;
}

.footer {
    height: 60px;
    text-align: center;
}

.info {
    background-color: antiquewhite;
    border-radius: 5px;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.info-container {
    text-align: center;
}

.blog {
	background-color: #CCC;
	border-radius: 1.563em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0.625em;
	text-align: left;
    width: 75%;
}

.blog-img {
	text-align: center;
}

#blog h1 {
	font-size: 2.5em;
}

#blog h2 {
	font-size: 1.875em;
}

#blog p {
	font-size: 0.875em;
}